p,h1,h2,h3,h4,ul,ol{font-family: "微软雅黑";font-style: normal;}
h3{color: #6a6a6a;}
h4{color: #80716e;}

body{
	margin: 0px;
	background: #dedede;
}
.header{
	height: 60px;
	background: #333333;
	z-index: 10;
}
.header img{
	height: 40px;
	margin: 10px 40px;
}
nav{
	float: right;
}
nav ul{
	margin: 10px 16px;
}
nav li{
	float: left;
	margin: 10px;
}

section{
	width: 100%;
}
.box{
	border: 1px solid #cbcbcb;
	margin: 20px 20px 0px 20px;
	padding: 20px;
	background: #fff;
	box-shadow: 2px 2px 2px #a1a1a1;
}
p{
	text-indent: 2em;
	line-height: 30px;
}
.box img{
	width: 300px;
	height: 246px;
}

ul{
	list-style: none; 
}

.ul_1 li{
	display: block;
	margin: 10px;
}
.pic{
	border: 1px solid #cbcbcb;    
	width: 120px;
	height: 124px;
}
.pic p{
	font-size: 13px;
	line-height: 33px;
	margin: 0px;
}
.pic img{
	width: 100px;
	height: 80px;
	padding: 10px;
	padding-top: 0px;
}

aside{
	margin: 20px 0;
}
section table{
	width:100%;
	border-collapse:collapse;
}
section td,section th{
	border: 1px solid #a1a1a1;
}
section .tr_01{
	background: #333;
	color: #fff;
}
section .tr_02{
	background: #a1a1a1;
	color: #000;
	font-weight: bold;
}

section .sidebar{
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	border-left: 3px solid #cecece;
}
#form{
	margin: 0 30% 10px;
}
#form td{
	padding: 10px;
}
#form td.hint{
	color: #ccc;
	font-size: 12px;
}
#form td.label{
	text-align: right;
}
#form textarea{
	width: 300px;
	height: 100px;
}
#submit-btn {
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 16px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
}


footer{
	clear: both;
	width: 100%;
	height: 70px;
	background: #000;
	color: #fff;
}
.copyrights{
	display: block;
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
}