*{
	margin: 0px;
	padding: 0px;
}
body{
	padding: 20px;
}
.box{
	padding: 20px;
	border: 1px solid #999;
	background-color: #eee;
}
.box{
	overflow: auto;
	zoom: 1;
}
.left{
	width: 198px;
	border: 1px solid #999;
	float: left;
	background-color: #fff;
}
.left .logo{
	float: left;
}
.left p{
	float: left;
	margin-top: 20px;
}
.center{
	padding: 20px;
	margin: 0px 140px 0 220px;
	border: 1px solid #999;	
	background-color: #fff;	
}
.right{
	display: inline-block;
	width: 118px;
	float: right;
	border: 1px solid #999;
	background-color: #fff;
}
.logo{
	width: 80px;
	height: 80px;
	margin: 20px;
	background-color: #eee;
}