body,#container,#top,p{ padding:0; margin:0;}

#container{width: 980px; height: 1386px; background-color: #fff;margin: 0 auto;}

#container header{width: 892px; height: 61px; border-bottom: 2px solid #938e8c;margin: 0 auto; position: relative;}
#container header div{width: 110px; height: 61px; background-color: #d45d5c;color: #fff;position: relative;}
#container header div span{display: block;font-size: 12px; font-family: "黑体";position: absolute; left: 7px; bottom: 6px;}
#container header .date_time{font: 12px "黑体"; position: absolute; right: 1px; bottom: 6px; color: #d45d5c;}

#top{width: 892px; margin: 34px auto 0;overflow: auto;*zoom:1;}
#top section {width: 641px; height: 301px; background-image:url(../images/1.png); float: left;}
#top section .left_pic{ width: 191px; height: 301px; background-color: #428c59; opacity: 0.5; float: left;}
#top section .right_pic{ width: 191px; height: 301px; background-color: #e5babf; opacity: 0.5; float: right;}
#top aside {width: 203px; height: 299px; border-top: 2px solid #cc8091;float: right;}
#top aside .p_1{font-family: "Microsoft YaHei";font-variant: small-caps;font-size: 24px;text-decoration:underline;margin-top: 12px;}
#top aside .p_2{font-family: "楷体";font-size: 12px;line-height: 10px;color: #676767; font-style: italic; margin-top: 4px;}
#top aside .p_3{margin-bottom: -8px; font-family: "Microsoft YaHei";font-size: 116px; font-style: italic;color: #75b86b; font-weight: bold;margin-left: -32px;}
#top aside .p_4{display: inline-block; margin: 0; font-family: "Microsoft YaHei";font-size: 55px; color: #cc8091;line-height: 0;}
#top aside .div_1{display: inline-block;}
#top aside .p_5{margin: 0;font-family: "Microsoft YaHei";font-size: 21px; color: #cc8091;}
#top aside .p_6{margin: 0;font-family: "Microsoft YaHei";font-size: 12px; color: #231815;}

#content{width: 641px; height: 282px; overflow: hidden;margin: 41px 0 0 0;}
#content h3{font-size: 16px; font-family: "Microsoft YaHei"; font-weight: bold;text-decoration: underline;margin-bottom: 4px;}
#content p{font-size: 12px;font-family: "Microsoft YaHei"; color: #231815; opacity: 0.7;line-height: 16px;padding-right: 20px;}
#content .div_what{width: 40%;float: left;} 
#content .div_when{width: 30%;float: left;} 
#content .div_how{width: 30%;float: left;}
#content .div_what h3{color: #418c59;} 
#content .div_when h3{color: #d2994f;} 
#content .div_how h3{color: #cc7680;} 

.article {width: 892px; height: 647px; margin: 0 auto; overflow: auto;}
.article .article_left{width: 415px; height: 647px;float: left;}
.article .article_right{width: 458px; height: 647px; float: right;}
.article .article_left .left_top{border-bottom: 2px solid #11456b;}
.article .article_left .left_top span{text-transform: uppercase;font-size: 72px;color: #f5e327;font-family: "黑体";font-weight: bold;font-style: italic; line-height: 50px;}
.article .article_left .left_top .p1{font-size: 42px; font-family: "黑体"; line-height: 40px; color: #11456b;font-weight: bold;}
.article .article_left .left_top .p2{font-size: 33px; font-family: "黑体"; line-height: 50px; color: #11456b;font-weight: bold;}
.article .article_left .left_bottom{margin: 26px 0 0 0}
.article .article_left .left_bottom span{font-size: 70px;color: #f5e327;font-family: "黑体"; width: 70px;float: left; margin: 25px 10px 30px 0px;}
.article .article_left .left_bottom p{font-size: 12px; font-family: "宋体"; line-height: 16px;color:#767777}
.article .article_left .left_bottom img{float: right; margin: 10px;}
.article .article_left .left_bottom .bottom_text{font-family: "宋体"; font-size: 12px; color:#767777; line-height: 16px; text-indent: 2em;}
.article .article_right .right_top{width: 458px;height: 257px;background: url(../images/2.png); position: relative;}
.article .article_right .right_top .bottom_logo{width: 458px; height: 61px;background: rgba(0, 0, 0, 0.5);position: absolute; bottom: 0;}
.article .article_right .right_top .bottom_logo p{font-size: 12px;font-style: italic; height: 44px; line-height: 44px; border-left: 3px solid #72b16a; font-family: "微软雅黑"; color: #72b16a; margin: 10px 40px;;}
.article .article_right .right_top .bottom_logo p span{ font-size: 26px; color: #fff; font-style: normal;padding: 0 10px 0;}
.article .article_right .right_bottom{width: 458px; height: 318px; background-color: #eeedd6; margin-top: 30px;position: relative;}
.article .article_right .right_bottom .bottom_box{margin: 20px;height: 157px;}
.article .article_right .right_bottom .bottom_box ul{margin: 0;padding: 32px;}
.article .article_right .right_bottom .bottom_box li{font-family: "宋体";font-size: 16px;color: #5a5b5b; text-align: left; padding: 10px;list-style-image:url(../images/li.png); }
.article .article_right .right_bottom .bottom_box li span{text-align: right;font-size: 12px;}
.article .article_right .right_bottom .left_box{ width: 260px; height: 160px; background: #d45d5c; position: absolute;left: 0;bottom: 0;}
.article .article_right .right_bottom .left_box .left_word{width: 70px;height: 86px;margin-top: 40px;margin-left: 10px;border-right:2px solid #ffffff;}
.article .article_right .right_bottom .left_box h3{clear: both;font-family: "黑体";font-size: 21px;font-style: italic;color: #ffffff;position: relative;top: -90px;left: 90px;line-height: 0;}
.article .article_right .right_bottom .left_box h4{clear: both;font-family: "黑体";font-size: 12px;color: #ffffff;position: relative;top: -90px;left: 90px;;line-height: 0px;}
.article .article_right .right_bottom .left_box .left_word p{font-size: 110px;color: #ffffff;position: absolute;top: 20px;left: 10px;}
.article .article_right .right_bottom .right_box{width: 198px; height: 160px; position: absolute;right: 0;bottom: 0;}
.article .article_right .right_bottom .right_box p{font-family: "黑体";font-size: 14px;font-style: italic;color: #5a5b5b;padding: 10px;}
.article .article_right .right_bottom .right_box .sp1{font-family: "黑体";font-size: 72px;font-style: normal;color: #d45d5c;float: left;margin: 7px 10px 5px 0px;height: 20px;margin-top: -15px;margin-left: -40px;}
.article .article_right .right_bottom .right_box .sp2{font-family: "黑体";font-size: 72px;font-style: normal;color: #d45d5c;float: right;margin:7px 0;}

footer div{width: 892px; height: 61px; border-top: 1px solid #938e8c; margin:0 auto;position: relative;}
footer div span{display: block; font-size: 12px; font-family: "黑体";position: absolute; right: 0; top: 3px; color: #d45d5c;}